.container {
    position: relative;
    width: 100%;
}

.tooltipContainer {
    position: absolute;
    padding: 4px;
    z-index: 3;

    &.tooltipHidden {
        display: none;
    }
}

.tooltip {
    padding: 12px;
    border-radius: 16px;
    background-color: rgb(var(--uiPlaceG));
    box-shadow: 0 8px 16px 0 rgba(28, 12, 73, 0.08);
    color: rgb(var(--additionalPrimary));
    border: 1px solid rgb(var(--uiBorder));
    width: max-content;
}

.top {
    top: 0;
    transform: translateY(-100%);

    &.center {
        transform: translate(-50%, -100%);
    }
}

.bottom {
    bottom: 0;
    transform: translateY(100%);

    &.center {
        transform: translate(-50%, 100%);
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.center {
    left: 50%;
}

.text {
    display: block;
    position: relative;
    line-height: 18px;
    text-align: center;
    font-weight: 400;
}

.container.hover {
    .tooltipContainer {
        display: none;
    }

    &:hover > .tooltipContainer:not(.tooltipHidden) {
        display: block;
    }
}
